In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/americancitizenincome/income.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/kaggle/input/americancitizenincome/income.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K

In [5]:
data.shape

(25000, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             25000 non-null  int64
 1   workclass       25000 non-null  object
 2   fnlwgt          25000 non-null  int64
 3   education       25000 non-null  object
 4   education.num   25000 non-null  int64
 5   marital.status  25000 non-null  object
 6   occupation      25000 non-null  object
 7   relationship    25000 non-null  object
 8   race            25000 non-null  object
 9   sex             25000 non-null  object
 10  capital.gain    25000 non-null  int64
 11  capital.loss    25000 non-null  int64
 12  hours.per.week  25000 non-null  int64
 13  native.country  25000 non-null  object
 14  income          25000 non-null  object
dtypes: int64(6), object(9)
memory usage: 2.9+ MB

In [7]:
data.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,25000.00000,2.500000e+04,25000.000000,25000.000000,25000.000000,25000.000000
mean,38.60916,1.896611e+05,10.076320,1083.144040,87.489800,40.442800
std,13.68660,1.054713e+05,2.576967,7321.971568,402.830246,12.309706
min,17.00000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.00000,1.179830e+05,9.000000,0.000000,0.000000,40.000000
50%,37.00000,1.782110e+05,10.000000,0.000000,0.000000,40.000000
75%,48.00000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,90.00000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
data['workclass'].value_counts()

workclass
Private             17471
Self-emp-not-inc     1935
Local-gov            1553
?                    1429
State-gov            1004
Self-emp-inc          851
Federal-gov           740
Without-pay            12
Never-worked            5
Name: count, dtype: int64

In [9]:
data['workclass'] = data['workclass'].replace('?','unknown')

In [10]:
data = pd.get_dummies(data, columns=['workclass'], prefix = 'workclass', dtype = int)
data.head()

,age,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,...,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,workclass_unknown
0,40,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,...,>50K,0,0,0,0,0,1,0,0,0
1,30,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,...,<=50K,0,0,0,1,0,0,0,0,0
2,46,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,...,>50K,0,0,0,1,0,0,0,0,0
3,32,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,...,>50K,0,0,0,1,0,0,0,0,0
4,54,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,...,<=50K,0,0,0,0,0,0,0,0,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age                         25000 non-null  int64
 1   fnlwgt                      25000 non-null  int64
 2   education                   25000 non-null  object
 3   education.num               25000 non-null  int64
 4   marital.status              25000 non-null  object
 5   occupation                  25000 non-null  object
 6   relationship                25000 non-null  object
 7   race                        25000 non-null  object
 8   sex                         25000 non-null  object
 9   capital.gain                25000 non-null  int64
 10  capital.loss                25000 non-null  int64
 11  hours.per.week              25000 non-null  int64
 12  native.country              25000 non-null  object
 13  income                      25000 non-null  object
 14  workclass_Federal-gov       25000 non-null  int64
 15  workclass_Local-gov         25000 non-null  int64
 16  workclass_Never-worked      25000 non-null  int64
 17  workclass_Private           25000 non-null  int64
 18  workclass_Self-emp-inc      25000 non-null  int64
 19  workclass_Self-emp-not-inc  25000 non-null  int64
 20  workclass_State-gov         25000 non-null  int64
 21  workclass_Without-pay       25000 non-null  int64
 22  workclass_unknown           25000 non-null  int64
dtypes: int64(15), object(8)
memory usage: 4.4+ MB

In [12]:
category = ['marital.status','occupation','relationship','race','sex','native.country','income']
for i in category:
    print(f"Values count for {i}")
    print(data[i].value_counts())
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

Values count for marital.status
marital.status
Married-civ-spouse       11518
Never-married             8204
Divorced                  3390
Separated                  792
Widowed                    766
Married-spouse-absent      312
Married-AF-spouse           18
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for occupation
occupation
Prof-specialty       3198
Craft-repair         3132
Exec-managerial      3114
Adm-clerical         2884
Sales                2812
Other-service        2524
Machine-op-inspct    1535
?                    1434
Transport-moving     1202
Handlers-cleaners    1076
Farming-fishing       770
Tech-support          714
Protective-serv       490
Priv-house-serv       109
Armed-Forces            6
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for relationship
relationship
Husband           10146
Not-in-family      6345
Own-child          3897
Unmarried          2661
Wife               1207
Other-relative      744
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for race
race
White                 21328
Black                  2412
Asian-Pac-Islander      799
Amer-Indian-Eskimo      252
Other                   209
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for sex
sex
Male      16718
Female     8282
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for native.country
native.country
United-States                 22415
Mexico                          502
?                               437
Philippines                     142
Germany                         105
Canada                           87
Puerto-Rico                      85
Cuba                             80
India                            79
El-Salvador                      75
England                          68
Jamaica                          67
South                            63
China                            58
Vietnam                          57
Dominican-Republic               57
Italy                            51
Guatemala                        49
Japan                            48
Columbia                         47
Poland                           46
Taiwan                           39
Haiti                            33
Portugal                         29
Ecuador                          25
Nicaragua                        24
Iran                             23
Peru                             23
France                           22
Greece                           18
Trinadad&Tobago                  17
Hong                             15
Cambodia                         15
Thailand                         15
Ireland                          14
Laos                             14
Yugoslavia                       12
Outlying-US(Guam-USVI-etc)       12
Hungary                          11
Scotland                         11
Honduras                         10
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Values count for income
income
<=50K    18955
>50K      6045
Name: count, dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [13]:
data['occupation'] = data['occupation'].replace('?','unknown')
data['native.country'] = data['native.country'].replace('?','unknown')

In [14]:
encoding_category = ['education', 'marital.status', 'occupation', 'sex', 'income', 'relationship', 'race']

for i in encoding_category:
    data = pd.get_dummies(data, columns=[i], prefix=i, dtype=int)
    print(f"Encoded column: {i}")
    print(data.filter(like=f"{i}_").head())  
    print("--------------------------------------------------")

Encoded column: education
   education_10th  education_11th  education_12th  education_1st-4th  \
0               0               0               0                  0
1               0               0               0                  0
2               0               0               0                  0
3               0               0               0                  0
4               0               0               0                  0

   education_5th-6th  education_7th-8th  education_9th  education_Assoc-acdm  \
0                  0                  0              0                     0
1                  0                  0              0                     0
2                  0                  0              0                     0
3                  0                  0              0                     0
4                  0                  0              0                     0

   education_Assoc-voc  education_Bachelors  education_Doctorate  \
0                    0                    0                    0
1                    0                    0                    0
2                    0                    0                    0
3                    1                    0                    0
4                    0                    0                    0

   education_HS-grad  education_Masters  education_Preschool  \
0                  0                  0                    0
1                  1                  0                    0
2                  0                  0                    0
3                  0                  0                    0
4                  0                  0                    1

   education_Prof-school  education_Some-college
0                      1                       0
1                      0                       0
2                      0                       1
3                      0                       0
4                      0                       0
--------------------------------------------------
Encoded column: marital.status
   marital.status_Divorced  marital.status_Married-AF-spouse  \
0                        0                                 0
1                        1                                 0
2                        0                                 0
3                        0                                 0
4                        0                                 0

   marital.status_Married-civ-spouse  marital.status_Married-spouse-absent  \
0                                  1                                     0
1                                  0                                     0
2                                  1                                     0
3                                  1                                     0
4                                  1                                     0

   marital.status_Never-married  marital.status_Separated  \
0                             0                         0
1                             0                         0
2                             0                         0
3                             0                         0
4                             0                         0

   marital.status_Widowed
0                       0
1                       0
2                       0
3                       0
4                       0
--------------------------------------------------
Encoded column: occupation
   occupation_Adm-clerical  occupation_Armed-Forces  occupation_Craft-repair  \
0                        0                        0                        0
1                        0                        0                        1
2                        1                        0                        0
3                        0                        0                        0
4                        0                        0                        0

   occupation_Exec-managerial  occupation_Farming-fishing  \
0                           0                           0
1                           0                           0
2                           0                           0
3                           0                           0
4                           0                           0

   occupation_Handlers-cleaners  occupation_Machine-op-inspct  \
0                             0                             0
1                             0                             0
2                             0                             0
3                             0                             0
4                             0                             0

   occupation_Other-service  occupation_Priv-house-serv  \
0                         0                           0
1                         0                           0
2                         0                           0
3                         1                           0
4                         0                           0

   occupation_Prof-specialty  occupation_Protective-serv  occupation_Sales  \
0                          1                           0                 0
1                          0                           0                 0
2                          0                           0                 0
3                          0                           0                 0
4                          0                           0                 0

   occupation_Tech-support  occupation_Transport-moving  occupation_unknown
0                        0                            0                   0
1                        0                            0                   0
2                        0                            0                   0
3                        0                            0                   0
4                        0                            0                   1
--------------------------------------------------
Encoded column: sex
   sex_Female  sex_Male
0           0         1
1           1         0
2           0         1
3           0         1
4           1         0
--------------------------------------------------
Encoded column: income
   income_<=50K  income_>50K
0             0            1
1             1            0
2             0            1
3             0            1
4             1            0
--------------------------------------------------
Encoded column: relationship
   relationship_Husband  relationship_Not-in-family  \
0                     1                           0
1                     0                           1
2                     1                           0
3                     1                           0
4                     0                           0

   relationship_Other-relative  relationship_Own-child  \
0                            0                       0
1                            0                       0
2                            0                       0
3                            0                       0
4                            0                       0

   relationship_Unmarried  relationship_Wife
0                       0                  0
1                       0                  0
2                       0                  0
3                       0                  0
4                       0                  1
--------------------------------------------------
Encoded column: race
   race_Amer-Indian-Eskimo  race_Asian-Pac-Islander  race_Black  race_Other  \
0                        0                        0           0           0
1                        0                        0           0           0
2                        0                        0           0           0
3                        0                        0           0           0
4                        0                        0           0           0

   race_White
0           1
1           1
2           1
3           1
4           1
--------------------------------------------------

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 69 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   25000 non-null  int64
 1   fnlwgt                                25000 non-null  int64
 2   education.num                         25000 non-null  int64
 3   capital.gain                          25000 non-null  int64
 4   capital.loss                          25000 non-null  int64
 5   hours.per.week                        25000 non-null  int64
 6   native.country                        25000 non-null  object
 7   workclass_Federal-gov                 25000 non-null  int64
 8   workclass_Local-gov                   25000 non-null  int64
 9   workclass_Never-worked                25000 non-null  int64
 10  workclass_Private                     25000 non-null  int64
 11  workclass_Self-emp-inc                25000 non-null  int64
 12  workclass_Self-emp-not-inc            25000 non-null  int64
 13  workclass_State-gov                   25000 non-null  int64
 14  workclass_Without-pay                 25000 non-null  int64
 15  workclass_unknown                     25000 non-null  int64
 16  education_10th                        25000 non-null  int64
 17  education_11th                        25000 non-null  int64
 18  education_12th                        25000 non-null  int64
 19  education_1st-4th                     25000 non-null  int64
 20  education_5th-6th                     25000 non-null  int64
 21  education_7th-8th                     25000 non-null  int64
 22  education_9th                         25000 non-null  int64
 23  education_Assoc-acdm                  25000 non-null  int64
 24  education_Assoc-voc                   25000 non-null  int64
 25  education_Bachelors                   25000 non-null  int64
 26  education_Doctorate                   25000 non-null  int64
 27  education_HS-grad                     25000 non-null  int64
 28  education_Masters                     25000 non-null  int64
 29  education_Preschool                   25000 non-null  int64
 30  education_Prof-school                 25000 non-null  int64
 31  education_Some-college                25000 non-null  int64
 32  marital.status_Divorced               25000 non-null  int64
 33  marital.status_Married-AF-spouse      25000 non-null  int64
 34  marital.status_Married-civ-spouse     25000 non-null  int64
 35  marital.status_Married-spouse-absent  25000 non-null  int64
 36  marital.status_Never-married          25000 non-null  int64
 37  marital.status_Separated              25000 non-null  int64
 38  marital.status_Widowed                25000 non-null  int64
 39  occupation_Adm-clerical               25000 non-null  int64
 40  occupation_Armed-Forces               25000 non-null  int64
 41  occupation_Craft-repair               25000 non-null  int64
 42  occupation_Exec-managerial            25000 non-null  int64
 43  occupation_Farming-fishing            25000 non-null  int64
 44  occupation_Handlers-cleaners          25000 non-null  int64
 45  occupation_Machine-op-inspct          25000 non-null  int64
 46  occupation_Other-service              25000 non-null  int64
 47  occupation_Priv-house-serv            25000 non-null  int64
 48  occupation_Prof-specialty             25000 non-null  int64
 49  occupation_Protective-serv            25000 non-null  int64
 50  occupation_Sales                      25000 non-null  int64
 51  occupation_Tech-support               25000 non-null  int64
 52  occupation_Transport-moving           25000 non-null  int64
 53  occupation_unknown                    25000 non-null  int64
 54  sex_Female                            25000 non-null  int64
 55  sex_Male                              25000 non-null  int64
 56  income_<=50K                          25000 non-null  int64
 57  income_>50K                           25000 non-null  int64
 58  relationship_Husband                  25000 non-null  int64
 59  relationship_Not-in-family            25000 non-null  int64
 60  relationship_Other-relative           25000 non-null  int64
 61  relationship_Own-child                25000 non-null  int64
 62  relationship_Unmarried                25000 non-null  int64
 63  relationship_Wife                     25000 non-null  int64
 64  race_Amer-Indian-Eskimo               25000 non-null  int64
 65  race_Asian-Pac-Islander               25000 non-null  int64
 66  race_Black                            25000 non-null  int64
 67  race_Other                            25000 non-null  int64
 68  race_White                            25000 non-null  int64
dtypes: int64(68), object(1)
memory usage: 13.2+ MB