<a href="https://colab.research.google.com/github/GENTLEW1ND/Python/blob/main/Basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages used for Machine Languages.

In [ ]:
print("Machin Languages")

Machin Languages

#Basic Data Types:


1.   int
2.   float
3.   str

In [ ]:
type(8.0)

float

In [ ]:
type(8.0)

float

In [ ]:
type("str")

str

#Constants and Varables

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [ ]:
# superhero = "captain america"
print(superhero)

Iron Man

In [ ]:
hero1, hero2, hero3 = "iron man", "captain america", "spiderman"
print(hero1)
print(hero2)
print(hero3)

iron man
captain america
spiderman

In [ ]:
x=y=z=35
print(x)
print(y)
print(z)

35
35
35

#Input functions

In [ ]:
number1 = input("enter the first number")
number2 = input("enter the second number")
print(number1 + number2)

enter the first number23
enter the second number23
2323

In [ ]:
number1 = int(input("enter the first number"))
number2 = int(input("enter the second number"))
print(number1 + number2)

enter the first number23
enter the second number23
46

In [ ]:
#changing the data type of the variables
num = 5
print(float(num))

5.0

#Data types

Types object in Python
1. Immutable Objects
2. Mutable Objects

Immutable Objects
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictonary

List
Lists are Mutable -> Changeable

In [ ]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# List can have multiple data types
my_list = [2,3,1.8,5,"string",True]
print(my_list)

[2, 3, 1.8, 5, 'string', True]

In [ ]:
# add elements to a list
my_list.append("new element")
print(my_list)

[2, 3, 1.8, 5, 'string', True, 'new element', 'new element']

In [ ]:
#print elements of a list using their index
print(my_list[0])
print(my_list[4])

2
string

In [ ]:
# List allow duplicate values
list_1 = [1,2,3,4,5,5,5]
print(list_1)

[1, 2, 3, 4, 5, 5, 5]

In [ ]:
print(len(list_1))

7

In [ ]:
#initialting an empty list
list_2 = []
print(list_2)

[]

In [ ]:
list_2.append(2)
print(list_2)

[2, 2]

In [ ]:
# delete an item in a list
list_1 = [1,2,3,4,5,5,5]
print(list_1)
del list_1[0]
print(list_1)

[1, 2, 3, 4, 5, 5, 5]
[2, 3, 4, 5, 5, 5]

In [ ]:
#join two list
list_3 = list_1 + list_2
print(list_3)

[2, 3, 4, 5, 5, 5, 2, 2]

Tuple
They are immutable -> cannot be changed

In [ ]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [ ]:
# typle allows multiple data types in a single tuple
typle_2 = (1,2,3.5,True,"string")
print(typle_2)

(1, 2, 3.5, True, 'string')

In [ ]:
# converting a list to a tuple

my_list = [2,4,5,6]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[2, 4, 5, 6]
(2, 4, 5, 6)

In [ ]:
print(my_tuple[2])

5

In [ ]:
print(len(my_tuple))

4

Set
They are Mutable
.We cannot call set using its index. Set dons not allow duplicate values.

In [ ]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [ ]:
# convert a list to set
list_5 = [1,2,3,4,5,5]
print(list_5)
set_1 = set(list_5)
print(set_1)

[1, 2, 3, 4, 5, 5]
{1, 2, 3, 4, 5}

Dictonary. It does not allow duplicate values.

Key value pair

In [ ]:
my_dictonary = {'name': 'john', 'age': 26}
print(my_dictonary)
type(my_dictonary)

{'name': 'john', 'age': 26}

dict

In [ ]:
print(my_dictonary["name"])
print(my_dictonary["age"])

john
26

# Operators in Python
1. Arithmetic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators

Arthmetic Operators

In [ ]:
num_1 = 20
num_2 = 10

# addition
sum = num_1 + num_2
print("sum = ", sum)

# subtraction
diff = num_1 - num_2
print("difference = ", diff)

# multiplication
product = num_1 * num_2
print("product = ", product)

# division
division = num_1 / num_2
print("division = ", division)

# exponent
exp = num_1 ** num_2
print("exponent = ", exp)

# modulus
modulus = num_1 % num_2
print("modulus = ", modulus)

sum =  30
difference =  10
product =  200
division =  2.0
exponent =  10240000000000
modulus =  0

Assignment Operators

In [ ]:
a = 5
print(a)

a += 5
print(a)

a -= 5
print(a)

a *= 5
print(a)

a /= 5
print(a)

a %= 5
print(a)

5
10
5
25
5.0
0.0

Comparision Operators

In [ ]:
a = 5
b = 10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

Logical Operator

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

Identity Operator

In [ ]:
x = 5
y = 5

print(x is y)
print(x is not y)

True
False

Membership operators

In [ ]:
a = 5
b = 10

c = [1,2,3,4,5]
print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

# Conditionals

In [ ]:
a = 30
b = 50

if(a>b):
  print(" a is gretest number")
elif(a==b):
  print("a is same as")
else:
  print(" b is the greatest number")

 b is the greatest number

nested If statement

In [ ]:
a = 20
b = 40
c = 50

if(a>b):
  if(a>c):
      print("a is the greatest number")
  else:
      print("c is greateset number")
else:
    if(b>c):
      print("b is the greatest number")
    else:
      print("c is the greatest number")

c is the greatest number

# Loops

For Loop

In [1]:
for i in range(5):
  laptop_price = int(input("Enter the price of the laptop: "))

Enter the price of the laptop: 20
Enter the price of the laptop: 30
Enter the price of the laptop: 40
Enter the price of the laptop: 10
Enter the price of the laptop: 90

In [3]:
number = [50,100,150,200]
for i in range(len(number)):
  print(number[i])

# or

for i in number:
  print(i)

50
100
150
200
50
100
150
200

While loop

In [4]:
# while condition : statement
i=0
while i<10:
    print(i)
    i += 1;

0
1
2
3
4
5
6
7
8
9

#Functions

Functions is a block of code that can be reused in a pragram

In [8]:
number = int(input("Enter a number to find its factorial: "))

factorial = 1

if number == 0:
    print("The factorial of O is :" , factorial)
else:
    for i in range(1, number+1):  #range(1, 6) -> 1,2,3,4,5
      factorial *= i
    print("The factorial of ", number, " is", factorial)

Enter a number to find its factorial: 5
The factorial of  5  is 120

Function

In [9]:
def factorial_value(num):
  factorial = 1

  if num == 0:
      return factorial
  else:
      for i in range(1, num+1):  #range(1, 6) -> 1,2,3,4,5
        factorial *= i
      return factorial

print(factorial_value(5))

120