<a href="https://colab.research.google.com/github/GENTLEW1ND/Python/blob/main/Basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming Languages used for Machine Languages.

In [ ]:
print("Machin Languages")

Machin Languages

#Basic Data Types:


1.   int
2.   float
3.   str

In [ ]:
type(8.0)

float

In [ ]:
type(8.0)

float

In [ ]:
type("str")

str

#Constants and Varables

In [ ]:
superhero = "Iron Man"
print(superhero)

Iron Man

In [ ]:
# superhero = "captain america"
print(superhero)

Iron Man

In [ ]:
hero1, hero2, hero3 = "iron man", "captain america", "spiderman"
print(hero1)
print(hero2)
print(hero3)

iron man
captain america
spiderman

In [ ]:
x=y=z=35
print(x)
print(y)
print(z)

35
35
35

#Input functions

In [ ]:
number1 = input("enter the first number")
number2 = input("enter the second number")
print(number1 + number2)

enter the first number23
enter the second number23
2323

In [ ]:
number1 = int(input("enter the first number"))
number2 = int(input("enter the second number"))
print(number1 + number2)

enter the first number23
enter the second number23
46

In [ ]:
#changing the data type of the variables
num = 5
print(float(num))

5.0

#Data types

Types object in Python
1. Immutable Objects
2. Mutable Objects

Immutable Objects
1. int
2. float
3. string
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictonary

List
Lists are Mutable -> Changeable

In [1]:
# list should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [3]:
# List can have multiple data types
my_list = [2,3,1.8,5,"string",True]
print(my_list)

[2, 3, 1.8, 5, 'string', True]

In [5]:
# add elements to a list
my_list.append("new element")
print(my_list)

[2, 3, 1.8, 5, 'string', True, 'new element', 'new element']

In [9]:
#print elements of a list using their index
print(my_list[0])
print(my_list[4])

2
string

In [11]:
# List allow duplicate values
list_1 = [1,2,3,4,5,5,5]
print(list_1)

[1, 2, 3, 4, 5, 5, 5]

In [13]:
print(len(list_1))

7

In [15]:
#initialting an empty list
list_2 = []
print(list_2)

[]

In [17]:
list_2.append(2)
print(list_2)

[2, 2]

In [20]:
# delete an item in a list
list_1 = [1,2,3,4,5,5,5]
print(list_1)
del list_1[0]
print(list_1)

[1, 2, 3, 4, 5, 5, 5]
[2, 3, 4, 5, 5, 5]

In [21]:
#join two list
list_3 = list_1 + list_2
print(list_3)

[2, 3, 4, 5, 5, 5, 2, 2]

Tuple
They are immutable -> cannot be changed

In [26]:
tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [28]:
# typle allows multiple data types in a single tuple
typle_2 = (1,2,3.5,True,"string")
print(typle_2)

(1, 2, 3.5, True, 'string')

In [30]:
# converting a list to a tuple

my_list = [2,4,5,6]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

[2, 4, 5, 6]
(2, 4, 5, 6)

In [32]:
print(my_tuple[2])

5

In [33]:
print(len(my_tuple))

4

Set
They are Mutable
.We cannot call set using its index. Set dons not allow duplicate values.

In [35]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [36]:
# convert a list to set
list_5 = [1,2,3,4,5,5]
print(list_5)
set_1 = set(list_5)
print(set_1)

[1, 2, 3, 4, 5, 5]
{1, 2, 3, 4, 5}

Dictonary. It does not allow duplicate values.

Key value pair

In [38]:
my_dictonary = {'name': 'john', 'age': 26}
print(my_dictonary)
type(my_dictonary)

{'name': 'john', 'age': 26}

dict

In [39]:
print(my_dictonary["name"])
print(my_dictonary["age"])

john
26