In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/simulated-dataset-jee-dropout-after-class-12/JEE_Dropout_After_Class_12.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('/kaggle/input/simulated-dataset-jee-dropout-after-class-12/JEE_Dropout_After_Class_12.csv')

In [4]:
data.head()

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0

In [5]:
data.shape

(5000, 15)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   jee_main_score        5000 non-null   float64
 1   jee_advanced_score    5000 non-null   float64
 2   mock_test_score_avg   5000 non-null   float64
 3   school_board          5000 non-null   object
 4   class_12_percent      5000 non-null   float64
 5   attempt_count         5000 non-null   int64
 6   coaching_institute    3791 non-null   object
 7   daily_study_hours     5000 non-null   float64
 8   family_income         5000 non-null   object
 9   parent_education      5000 non-null   object
 10  location_type         5000 non-null   object
 11  peer_pressure_level   5000 non-null   object
 12  mental_health_issues  5000 non-null   object
 13  admission_taken       5000 non-null   object
 14  dropout               5000 non-null   int64
dtypes: float64(5), int64(2), object(8)
memory usage: 586.1+ KB

In [7]:
data['coaching_institute'].shape

(5000,)

In [8]:
data['coaching_institute'].tail()

4995    FIITJEE
4996      Local
4997        NaN
4998      Allen
4999    FIITJEE
Name: coaching_institute, dtype: object

In [9]:
data['coaching_institute'].value_counts()

coaching_institute
FIITJEE    1298
Local      1265
Allen      1228
Name: count, dtype: int64

In [10]:
print(data['coaching_institute'].isna().sum())

1209

In [11]:
data['coaching_institute'].dropna(axis=0,inplace=True)

In [12]:
data['coaching_institute'].fillna('Unknown',inplace=True)

/tmp/ipykernel_13/3278920460.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['coaching_institute'].fillna('Unknown',inplace=True)

In [13]:
data['coaching_institute'].value_counts()

coaching_institute
FIITJEE    1298
Local      1265
Allen      1228
Unknown    1209
Name: count, dtype: int64